body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.background-img{
  
  background-image: radial-gradient(circle at 50% 0, #504a93, #413e65 77%);
}


.feature {
  margin: 0px;
  padding: 0px;
  background-color: var(--white);
  height: 357px;
}
.feature-container {
  position: relative;
  top: 82px;
  margin-left: 15.3%;
  width: 70%;
  display: flex;
}
.feature-box {
  width: 500px;
}
.feature-logo {
  position: relative;
  top: 1.3%;
  margin-bottom: 38px;
}
.feature-title {
  color: var(--dark-grey);
  font-size: var(--sub-title-size);
  line-height: normal;
  letter-spacing: -0.68px;
  font-family: "Circular Std Bold";
}
.feature-text {
  color: var(--light-grey);
  font-size: var(--small-text);
  line-height: 1.75;
  letter-spacing: -0.45px;
  margin-top: 13px;
  margin-right: 32px;
}


.brandsection {
  background-color: var(--white);
  border-top: solid 1px var(--border);
  height: 108.3px;
}
.brandsection-container {
  position: relative;
  top: 37.3px;
  margin-left: 15.3%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}